html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f5efe6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: #000;
  }
  body {
    color: white;
    background: black;
  }
}

.custom-gutter {
  margin-right: -20px;
  margin-left: -20px;
}
.custom-gutter > .col,
.custom-gutter > [class*="col-"] {
  padding-right: 20px;
  padding-left: 20px;
}
.navbar-brand.logo {
  font-family: "PT Serif", serif;
  font-size: 34px;
  line-height: 51px;
  color: #4c4d4f;
}
.rounded-box {
  -webkit-border-radius: 14px;
  border-radius: 14px;
  height: 367px;
  margin-bottom: 44px;
}
.upload-cv {
  cursor: pointer;
  background: linear-gradient(135deg, #dbb898 0%, #9dc1ce 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 32px;
  color: #343537;
  font-family: "PT Serif", serif;
}
.upload-cv p {
  font-size: 19.44px;
  margin-bottom: 0;
}
.create-cv {
  cursor: pointer;
  background: linear-gradient(135deg, #9dc1ce 0%, #dbb898 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  color: #343537;
  font-family: "PT Serif", serif;
}
.testimonies {
  background: #fff;
}
.testimonies * {
  color: #343537;
}
.carousel-item {
  text-align: center;
  height: 367px;
}
main {
  background: #f5efe6;
  padding-top: 44px;
}
.carousel.slide .carousel-control-prev,
.carousel.slide .carousel-control-next {
  top: auto;
  width: auto;
  bottom: 25px;
}
.carousel.slide .carousel-control-prev {
  left: 41%;
  opacity: 1;
}
.carousel.slide .carousel-control-next {
  right: 41%;
  opacity: 1;
}
.carousel-control-prev .carousel-control-prev-icon {
  content: url("../public/left.png");
  background: none !important;
  filter: none !important;
  width: auto;
  height: auto;
}
.carousel-control-prev .carousel-control-prev-icon:hover {
  content: url("../public/left-hover.png");
}
.carousel-control-next .carousel-control-next-icon {
  content: url("../public/right.png");
  background: none !important;
  filter: none !important;
  width: auto;
  height: auto;
}
.carousel-control-next .carousel-control-next-icon:hover {
  content: url("../public/right-hover.png");
}
.carousel-caption p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}
.carousel-item .carousel-caption {
  bottom: 3.25rem;
}
.testimonies img {
  margin-top: 20px;
}
main > div {
  background: #f5efe6;
}
video.rounded-box {
  margin-bottom: 38px;
  background: #000;
}
.login-box {
  max-width: 960px;
  font-family: "Cabin";
  color: #4c4d4f;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  padding: 24px;
  background: #fff url("../public/bg-login.png") no-repeat top right;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 50px;
}
.btn.btn-login {
  background: none;
  border: 1px solid #000;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  line-height: 36px;
}
.btn.btn-login:hover {
  border-color: #d0d0d0;
}
.btn-icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  vertical-align: sub;
  margin-right: 14px;
}
.info-login a {
  color: #4C4D4F;
}
.fb-icon {
  background: url("../public/ico-facebook.png") no-repeat;
}
.gg-icon {
  background: url("../public/ico-google.png") no-repeat;
}
.tw-icon {
  background: url("../public/ico-twitter.png") no-repeat;
}
.separation {
  color: #4c4d4f80;
  border-bottom: 2px solid #4c4d4f80;
  text-align: center;
}
.separation span {
  padding: 11px;
  background: #fff;
  display: inline-block;
  position: relative;
  top: 23px;
}

.check label{
  color: rgba(76, 77, 79, 1);
  font-size: 12px;
  line-height: 20px;
}
.register-box {
  margin-top: 39px;
}
.info-login {
  color: rgba(76, 77, 79, 0.5);
  font-size: 14px;
}
.register-box .form-control {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}
.register-box .form-control:focus {
  box-shadow: none;
}
.btn.btn-signup {
  background: black;
  color: #fff;
  border: 1px solid #000;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  line-height: 36px;
  margin-top: 15px;
}
.btn.btn-signup:hover,
.btn.btn-signup:focus {
  background: #fff;
  color: black;
}
.service{
  margin-top: 25px;
  font-family: "PT Serif", serif;
  font-size: 12px;
  color: rgba(76, 77, 79, 0.5);
}
.service a, .check{
  color: rgba(76, 77, 79, 1);
}


@media (max-width: 1200px) {
  .carousel.slide .carousel-control-prev {
    left: 39%;
  }
  .carousel.slide .carousel-control-next {
    right: 39%;
  }
}
@media (max-width: 993px) {
  .carousel.slide .carousel-control-prev {
    left: 35%;
  }
  .carousel.slide .carousel-control-next {
    right: 35%;
  }
  .carousel-caption p {
    -webkit-line-clamp: 4;
  }
  .login-box {
    background: #fff;
  }
}
@media (max-width: 768px) {
  .carousel.slide .carousel-control-prev {
    left: 32%;
  }
  .carousel.slide .carousel-control-next {
    right: 32%;
  }
  .carousel-caption p {
    -webkit-line-clamp: 4;
  }
  .rounded-box {
    min-height: 210px;
    height: auto;
  }
}
